/* Global stil tushunchalari */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Sarlavha */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Asosiy konteyner */
main {
    padding: 20px;
}

/* Xabar va ochiq kalitlarini joylashgan forma */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Shefrlangan xabar qismi */
#encrypted-message, #decryptedMessage {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
